* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
  background-image: url("assets/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.game-container {
  width: 900px;
  height: 400px;
  background-color: #ffffff;
  background-size: cover;
  background-image: linear-gradient(to top, #535353 2px, transparent 2px);
  background-repeat: repeat-x;
  background-position: bottom;
  border: 4px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  image-rendering: pixelated;
}

#game-over-msg {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #535353;
  color: #fff;
  border: 4px solid #000;
  padding: 20px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 1.2rem;
  z-index: 100;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
  min-width: 300px;
}

#dino {
  width: 80px;
  height: 80px;
  background-image: url("assets/img/dino_l.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 50px;
  image-rendering: pixelated;
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  30% {
    bottom: 110px;
  }
  70% {
    bottom: 110px;
  }
  100% {
    bottom: 0;
  }
}

.animate-jump {
  animation: jump 0.5s linear;
}

.cactus {
  position: absolute;
  bottom: -10px;
  left: 900px;
  background-repeat: no-repeat;
  background-position: center bottom;
  image-rendering: pixelated;
  z-index: 1;
}

.cactus-group {
  width: 100px;
  height: 85px;
  background-image: url("assets/img/cactus_a.png");
  background-size: contain;
}

.cactus-single {
  width: 50px;
  height: 90px;
  background-image: url("assets/img/cactus_b.png");
  background-size: contain;
}

@keyframes block {
  0% {
    left: 900px;
  }
  100% {
    left: -60px;
  }
}

#score {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1rem;
  color: #535353;
  font-weight: bold;
  text-shadow: 2px 2px 0px #fff;
}

#start-message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: #535353;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border: 2px solid #535353;
  text-align: center;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.pterodactyl {
  width: 60px;
  height: 40px;
  background-image: url("assets/img/ptero.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 35px;
  left: 900px;
  image-rendering: pixelated;
  z-index: 2;
}

.dino-ducking {
  width: 100px !important;
  height: 50px !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#mute-btn {
  position: absolute;
  top: 5px;
  left: 5px;

  width: 40px;
  height: 40px;

  background-image: url("assets/img/audioOff.png");
  filter: grayscale(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;

  image-rendering: pixelated;
  transition: transform 0.1s;
}

#mute-btn:hover {
  transform: scale(1.1);
}

#mute-btn:active {
  transform: scale(0.9);
}

#mute-btn:focus {
  outline: none;
}

@keyframes blink-score {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink-animation {
  animation: blink-score 0.4s linear 3;
  color: #535353;
}
