/* --- IMPORTAZIONE FONT  --- */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* RESET E BASE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
  color: #535353;
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

/* --- TITOLI --- */
h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
}
